PORT=8787
HMS_APP_ACCESS_KEY=replace_with_100ms_app_access_key
HMS_APP_SECRET=replace_with_100ms_app_secret
HMS_DEV_ROOM_ID=replace_with_100ms_room_id
HMS_ROLE_MEMBER=member
HMS_ROLE_TRAINER=trainer
WTF_STATE_FILE=token_server/state.json
