.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
token_server/state.json

shared/.dart_tool/
shared/.flutter-plugins-dependencies
shared/build/

guru_app/.dart_tool/
guru_app/.flutter-plugins-dependencies
guru_app/build/

trainer_app/.dart_tool/
trainer_app/.flutter-plugins-dependencies
trainer_app/build/

.env
